<h1>Topic list</h1>

<table class="records_list">
    <thead>
    <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Viewscount</th>
        <th>Repliescount</th>
        <th>Isdeleted</th>
        <th>Created</th>
        <th>Id</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for topic in pager.getResults %}
        <tr>
            <td><a href="{{ path('topic_show', { 'id': topic.id }) }}">{{ topic.title }}</a></td>
            <td>{{ topic.body }}</td>
            <td>{{ topic.viewsCount }}</td>
            <td>{{ topic.repliesCount }}</td>
            <td>{{ topic.isDeleted }}</td>
            <td>{{ topic.created }}</td>
            <td>{{ topic.id }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('topic_show', { 'id': topic.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('topic_edit', { 'id': topic.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if pager.isPaginable %}
{{ paginate(pager, 'topic') }}
{% endif %}

<ul>
    <li>
        <a href="{{ path('topic_new', {'categoryAlias': 'test'}) }}"> Create a new entry </a>
    </li>
</ul>
