{% extends 'GhostPostBundle::layout.html.twig' %}

{% block sidebar %}
    <div class="box box-large box-gray text-align-center">
        <a href="{{ path('topic_new', {'categoryAlias': topic.category.alias}) }}"><i class="icon-plus"></i> Post a New Topic</a>
    </div>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="box topic">
        <div class="box-header">
            <div class="avatar">
                <img src="{{ gravatar(topic.user.email) }}"/>
            </div>
            <h1>{{ topic.title }}</h1>

            <div class="meta">
                <i class="icon-eye-open"></i> {{ topic.viewsCount }} views /
                <i class="icon-comment"></i> {{ topic.repliesCount }} replies /
                <i class="icon-time"></i> {{ topic.created|time_ago }} / by
                <a href="{{ path('user_show', {'username': topic.user.username}) }}">{{ topic.user.username }}</a>
                {% if can_edit_topic(topic) %}
                    <i class="icon-edit"></i> <a href="{{ path('topic_edit', {'id': topic.id}) }}">Edit</a>
                {% endif %}
            </div>
        </div>
        <div class="box-body body">
            {{ topic.body|markup }}
        </div>
    </div>

    {% if topic.repliesCount %}
    {% include 'GhostPostBundle:Post:list.html.twig' %}
    {% endif %}


    <div class="box post">
        <div class="box-header">
            <h3>Reply to this topic</h3>
        </div>
        <div class="box-body">
            {% if post_form is not null and can_reply_topic(topic) and can_create_post() %}
                <form method="post" action="{{ path('post_new', { 'topicId': topic.id }) }}">
                    {{ form_widget(post_form.body, { 'attr': {'class': 'input-block-level', 'rows': 6} }) }}
                    {{ form_rest(post_form) }}
                    <button class="btn btn-success">Post</button>
                </form>
            {% else %}
                <a href="{{ path('security_login') }}">Sign in to write a reply.</a>
            {% endif %}
        </div>
    </div>


{% endblock %}